.portfolio {
  width: 100vw;
  height: 100vh;
  position: relative;

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500vw;
  height: 100%;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 1s;
  z-index: -1;
 
}

.slide {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dbdbdb;
  overflow: hidden;
  z-index: var(--i);
  transition:all 1s;
  
}

.slide.dark {
  background-color: var(--black);
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 1s;
}

.slide-content h1{
    font-family: var(--font-deck);
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--black);
}

.slide.dark .slide-content h1{
    color: var(--white);
}

.slide-img{
    transition: 1s;
    position: absolute;
    width: 25rem;
    height: 150vh;
    filter: saturate(1);
    transform-style: preserve-3d;
    perspective: 700px;
}

.slide-img img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25rem;
    height: 60rem;
    transition: all 1s;
    
}


.slide-img-1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
}


.slide-img-2 img{

    box-shadow: .8rem .8rem 1rem rgba(0, 0, 0, .7);
}

.slide-img-2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
}



@keyframes pulse {
  0%{
    scale: .9;
  }

  100%{
    scale: 1.125;
  }
}




.link{
    position: absolute;
    z-index: 100;
    top: var(--y);
    left: var(--x);
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    cursor: none;
    font-size: 7rem;
     border: 1rem solid var(--black);
     box-shadow: .5rem .5rem 2rem rgba(255, 255, 255, .2),-.5rem -.5rem .7rem rgba(255, 255, 255, .2);
     color: var(--black);
     background: rgba(0, 0, 0, .1);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
     animation: pulse alternate infinite 1s ease-in;
}

.link span{
  font-size: 3rem;
  text-transform: capitalize;
  font-family: var(--font-secundary);
}

svg{
    text-shadow: .5rem .5rem 2rem var(--white),-.5rem -.5rem 1rem var(--white);
}

.slide.dark .link svg{
    text-shadow: .5rem .5rem 2rem var(--black),-.5rem -.5rem 1rem var(--black);
}

.slide.dark .link{
    border: 1rem solid var(--white);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .3),-.5rem -.5rem .7rem rgba(0, 0, 0, .3);
   
    color: var(--white);
    background: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}



@media (max-width:720px) {
  .slide-content {
    position: absolute;
    top: 20rem;
    left: none;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s;
  }
  
  .slide-content h1{
    font-size: calc(10vw + 1.4rem);
}


.link{
  top:80%;
  left: 39%;
  width: 15rem;
  height: 15rem;
  font-size: 5rem;
  
}



.link span{
font-size: 1rem;
text-transform: capitalize;
font-family: var(--font-secundary);
}


}

@media (max-width:520px) {

  .slide-img img{
 
    width: 20rem;
    height: 50rem;
   
}



}





